/* Navbar sticky */
.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Effet de visibilité pour la navbar */
.navbar {
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.navbar:not(.visible) {
  opacity: 0;
  transform: translateY(-10px);
}

/* Mode clair */
body.light-mode {
  --bg-color: rgba(0, 11, 77, 0.2); /* Fond clair */
  --text-color: rgb(0, 11, 77); /* Texte clair */
  --nav-bg: rgba(0, 11, 77, 0.2); /* Fond de la navbar clair */
  --nav-text: rgb(0, 11, 77); /* Texte de la navbar clair */
  --box-shadow: 20px 20px 20px rgb(0, 11, 77); /* Ombre légère */
  --border-color: rgba(174, 193, 255, 0.713); /* Couleur des bordures */
  --gradient-start: rgba(200, 229, 255, 0.8); /* Dégradé clair */
  --gradient-end: rgba(3, 11, 47, 0.8); /* Dégradé clair */
}

/* Mode sombre */
body.dark-mode {
  --bg-color: rgb(0, 11, 77); /* Fond sombre */
  --text-color: rgb(156, 155, 254); /* Texte sombre */
  --nav-bg: rgb(0, 11, 77); /* Fond de la navbar sombre */
  --nav-text: rgb(156, 155, 254); /* Texte de la navbar sombre */
  --box-shadow: 20px 20px 20px rgb(156, 155, 254); /* Ombre sombre */
  --border-color: rgb(156, 155, 254); /* Couleur des bordures */
  --gradient-start: rgb(5, 5, 5); /* Dégradé sombre */
  --gradient-end: rgba(0, 10, 65, 0.834); /* Dégradé sombre */
}

/* Appliquer ces variables aux éléments */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Navbar */
.navbar {
  background-color: var(--nav-bg) !important;
  color: var(--nav-text) !important;
  box-shadow: var(--box-shadow);
  border: 2px solid var(--border-color);
}

/* Logo */
.navbar-logo {
  width: 50px;
  height: auto;
  background-image: url('/assets/cannon_old_weapon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 5px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 2px 8px rgba(1, 9, 31, 0.5);
}

/* Menu burger */
.navbar-toggler {
  border: none;
  outline: none;
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 1100;
}

/* Container de la navbar */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  z-index: 1000;
}

/* Titre de la navbar */
.navbar-center {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  flex-grow: 1;
  z-index: 1000;
}

.navbar-name {
  font-family: 'Irish Grover', sans-serif;
  text-transform: uppercase;
}

.navbar-title {
  font-family: 'Irish Grover', sans-serif;
  text-transform: capitalize;
  font-style: italic;
}

/* Liens navbar */
.nav-link {
  color: var(--nav-text);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}

.nav-link.active {
  font-weight: bold;
  color: #0056b3;
  border-bottom: 2px solid #0056b3;
}

/* Réduire la taille de l'icône burger */
.navbar-toggler-icon {
  width: 25px;
  height: 20px;
  background-color: transparent;
}

/* Responsive */
@media (max-width: 1015px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
  }

  .nav-item {
    padding: 10px 0;
    width: 100%;
  }

  .navbar-collapse {
    background: rgba(255, 255, 255, 0.95);
    padding: 15px;
    border-radius: 8px;
    margin-top: 60px;
    z-index: 1001;
  }

  .nav-link {
    font-size: 1.2rem;
    padding: 10px;
    display: block;
    width: 100%;
  }

  .navbar-center {
    position: relative;
    top: 10px;
    font-size: 1.2rem;
    text-align: center;
    z-index: 1000;
    width: 100%;
    padding: 10px 0;
  }

  .navbar-logo {
    margin: 10px 0;
  }
}

@media (max-width: 576px) {
  .navbar-logo {
    width: 40px;
    padding: 0px;
  }
  .navbar-name {
    font-size: 1.2rem;
  }
  .navbar-title {
    font-size: 0.9rem;
  }
}

@media (min-width: 950px) {
  .navbar-container {
    flex-direction: row;
  }

  .navbar-nav {
    margin-left: auto;
  }

  .navbar-logo {
    width: 50px;
    padding: 0px;
  }
}
