.dashboardCard {
  background: var(--secondary-color);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px var(--accent-color);
  color: var(--text-color);
}

.dashboardCard h4 {
  margin-bottom: 10px;
}

.dashboardCard p {
  font-size: 1.5rem;
  font-weight: bold;
}
.dashboardTitle {
  font-family: var(--font-family-title);
  font-style: italic;
}
