.textReset {
  color: var(--navbar-text);
  margin-right: 1rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.textReset:hover {
  color: var(--primary-color-hover);
  transform: translateY(-3px);
}
